{% extends 'Mainpage/MainTemplate.html' %}
{% load static %}

{% block css %}
<!-- Plugins css -->
<link href="{% static 'plugins/select2/css/select2.min.css' %}" rel="stylesheet" type="text/css" />
<!-- X-editable css -->
<link type="text/css" href="{% static 'plugins/x-editable/css/bootstrap-editable.css' %}" rel="stylesheet">
{% endblock %}


{% block content1 %}
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">Create Price list</h4>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0);">Lexa</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0);">UI Elements</a></li>
                <li class="breadcrumb-item active">Alerts</li>
            </ol>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card m-b-20">
            <div class="card-body">
                <form method="post" action="{% url 'Sales:createroom' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h4 class="mt-0 header-title">Price Header</h4>
                    <!------ Start Row ------->
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="m-t-20">
                                <label class="text-muted">{{formprice.price_name.label}}</label>
                                <input type="{{formprice.price_name.widget_type}}" class="form-control" maxlength="{{formprice.price_name.field.max_length}}" name="{{ formprice.price_name.html_name }}" id="alloptions" placeholder="Enter {{ formprice.price_name.label }}" required ="{{formprice.price_name.required_css_class }}" {% if formprice.price_name.value is not None %} value="{{ formprice.price_name.value }}" {% endif %}>
                            </div>
                        </div>
                    </div>
                    <!------ End Row ------->

                    <!------ Start Row ------->
                    <div class="row">
                        <!-- Start col -->
                        <div class="col-12">
                            <div class="card m-b-20">
                                <div class="card-body">
                                    <!-- Start card-body -->
                                    <h4 class="mt-0 header-title">Price Lines</h4>
                                    <p class="text-muted m-b-30"></p>
    
                                    <div class="table-responsive">
                                        <table class="table table-striped mb-0" id="editableTable">
                                            <thead>
                                                <tr>
                                                    <th>Category</th>
                                                    <th style="width: 50%;">Product</th>
                                                    <th>Value</th>
                                                    <th>
                                                        <span class="input-group-btn input-group-append">
                                                        <button class="btn btn-success btn-sm waves-effect waves-light bootstrap-touchspin-up" type="button" id="add-row" >
                                                            <i class="mdi mdi-plus"></i>
                                                        </button>
                                                        <!-- <button class="btn btn-danger btn-sm waves-effect waves-light bootstrap-touchspin-up" type="button" id="delete-row">
                                                            <i class="mdi mdi-close"></i>
                                                        </button> -->
                                                        </span>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr id="tr1">
                                                    <td  class="NotNull">
                                                        <a href="#" id = "Category">Select Category</a>

                                                    </td>
                                                    <td id = "Items" class="NotNull">
                                                        <a href="#" id="inline-sel2" data-type="select" data-pk="1" data-value="" data-title="Select sex">Select Product</a>
                                                    </td>
                                                    <td id="value" class="NotNull">
                                                        <a href="#" id="inline-username" data-type="text" data-pk="1" data-title="Enter Price">Value</a>
                                                    </td>
                                                    <td>
                                                        <span class="input-group-btn input-group-append">
                                                            <button class="btn btn-danger btn-sm waves-effect waves-light bootstrap-touchspin-up" type="button" onclick="deleterow(1)">
                                                                <i class="mdi mdi-close"></i>
                                                            </button>
                                                        </span>
                                                        <!-- <div class="form-group">
                                                            <label class="text-muted">{{partiesform.party_type.label}}</label>
                                                            <select class="form-control select2 {{ partiesform.party_type.html_name }}" name="{{ partiesform.party_type.html_name }}">
                                                                {% for key  in partiesform.party_type %}
                                                                {{key}}
                                                                {% endfor %}
                                                            </select>
                                                        </div> -->
                                                    </td>                                                
                                                </tr>    
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- end card-body -->
                                </div>
                            </div>
                        </div> 
                        <!-- end col -->
                    </div> 
                    <!-- end row -->   

                    <div>
                        <button type="submit" class="btn btn-outline-primary waves-effect waves-light">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}

    <!-- Plugins js -->    
    <script src="{% static 'plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'plugins/select2/js/select2.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-maxlength/bootstrap-maxlength.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-filestyle/js/bootstrap-filestyle.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-touchspin/js/jquery.bootstrap-touchspin.min.js' %}"></script>
    <!-- Plugins Init js -->
    <script src="{% static 'assets/pages/form-advanced.js' %}"></script>


    <!-- XEditable Plugin -->
    <script src="{% static 'plugins/moment/moment.js' %}"></script>
    <script src="{% static 'plugins/x-editable/js/bootstrap-editable.min.js' %}"></script>
    <script src="{% static 'assets/pages/xeditable.js' %}"></script>
    <script>

$('#add-row').on('click',function(){
    addValidation('editableTable','a');
});


function  addValidation(tableid,tdvalaccordto) {
        var flag = "notFound";
        var errorMessage = "";
        var count = $('#'+ tableid +' tbody tr').length;

        $('#'+ tableid +' tbody tr').each(function () {

            // console.log(this.id);
            // console.log($('#'+this.id+' td').attr('class'));
            // console.log($('#'+this.id+' td '+tdvalaccordto).html());
            var id = this.id;
            var classname = $('#'+this.id+' td').attr('class');
            var value = $('#'+this.id+' td '+tdvalaccordto).html();
            

            if (classname == 'NotNull' ){
                    if (value === "undefined" && value === ""){
                        errorMessage = "Must be Entered"  ;
                        flag = "found";
                    }
                }


        });

        if (flag === "found") {
            // $('#error-title').html("Error");
            // $('#error-body').html(errorMessage);
            // $('#errrorModal').modal('show');
            alert(errorMessage);
        } else {
            addMore(count);
        }
    }

function addMore(rowno) {

            //$("#add-row").click(function () {
                rowno++;
                add_row = "<tr id='tr"+ rowno +"'>";


                add_row += '<td class="NotNull" id = "Category"> \
                            <a href="#" id="inline-sex" data-type="select" data-pk="1" data-value="" data-title="Select sex">Select Category</a> \
                            </td>';
                add_row += '<td id = "Items"> \
                            <a href="#" id="inline-sel2" data-type="select" data-pk="1" data-value="" data-title="Select sex">Select Product</a> \
                            </td>';
                add_row += '<td> \
                            <a href="#" id="inline-username" data-type="text" data-pk="1" data-title="Enter Price">Value</a> \
                            </td>';
                add_row += '<td> \
                                <span class="input-group-btn input-group-append"> \
                                    <button class="btn btn-danger btn-sm waves-effect waves-light bootstrap-touchspin-up" type="button" onclick="deleterow('+rowno+')"> \
                                        <i class="mdi mdi-close"></i> \
                                    </button> \
                                </span> \
                            </td>';
                add_row += "</tr>";

                tableBody = $("table tbody");
                tableBody.append(add_row);
                
            //});
				// declareSelect2();
            } 

    function deleterow(rownum){ 

        removeRow('editableTable','a',rownum);

    };

    function removeRow(tableid,tdvalaccordto,rownum){
        
        var count = rownum //$('#'+ tableid +' tbody tr').length;
        //console.log(count);
        if (count === 1) {

            $('#'+ tableid +' tbody tr').each(function () {
                //console.log($('#'+this.id+' td '+tdvalaccordto));

                //var classname = $('#'+this.id+' td').attr('class');
                var classname = $('#tr'+count+' td').attr('class');

                if (classname == 'NotNull' ){
                    $('#tr'+count+' td '+tdvalaccordto).html('Must be Select');
                    //$('#'+this.id+' td '+tdvalaccordto).html('Must be Select');
                }else{
                    $('#tr'+count+' td '+tdvalaccordto).html('Not Selected');
                    //$('#'+this.id+' td '+tdvalaccordto).html('Not Selected');
                };

            });

        } else {

            $('#tr'+count).remove();

        };

    };

    $('#Category').on('click',function(){
        console.log(this.id);
        this.id = 'Open';
        $('#Open').html('<div class="form-group"> \
                                <select class="form-control select2" name="category">\
                                    {% for key  in categorydata %} \
                                        <option>{{key}}</option>\
                                    {% endfor %}\
                                </select>\
                            </div>');
        // $('.'+ classData).show();
		// $('.'+ tddata).hide();
        declareSelect2;
        // $.ajax({
        //                 type: "POST",
        //                 data: values,
        //                 url: 'editableTableEvent.php',
        //                 success: function (data) {
        //                     unitPrice.val(data);
        //                 }
        //             });
    });

    function declareSelect2(){
		var selectObj = $('select');
		
		$.map(selectObj, function(text, val){

			var selectPlaceholder = $(text).attr('placeholder');
			if(selectPlaceholder)
			{
				$(text).select2({
					placeholder : selectPlaceholder
				});
			}
			else
			{
				$(text).select2();
			}
		});
	}

    $('#inline-sel2').editable({
        prepend: "not selected",
        mode: 'inline',
        inputclass: 'form-control select2',
        source: [
            {value: 1, text: 'Male'},
            {value: 2, text: 'Female'}
        ],
        validate: function (value) {
            if ($.trim(value) == '') return 'This field is required';
        },
        display: function (value, sourceData) {
            var colors = {"": "#98a6ad", 1: "#5fbeaa", 2: "#5d9cec"},
                elem = $.grep(sourceData, function (o) {
                    return o.value == value;
                });

            if (elem.length) {
                $(this).text(elem[0].text).css("color", colors[value]);
            } else {
                $(this).empty();
            }
        }
    });
    </script>

{% endblock %}