<!DOCTYPE html>
{% load static %}
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <title>Hanger Game App</title>
        <meta content="Admin Dashboard" name="description" />
        <meta content="Themesbrand" name="author" />
        <link rel="shortcut icon" href="{% static 'assets/images/shortcut_icon.png'%}">

        {% block css %}
        {% endblock %}

        <link href="{% static 'assets/css/bootstrap.min.css'%}" rel="stylesheet" type="text/css">
        <link href="{% static 'assets/css/metismenu.min.css'%}" rel="stylesheet" type="text/css">
        <link href="{% static 'assets/css/icons.css'%}" rel="stylesheet" type="text/css">
        <link href="{% static 'assets/css/style.css'%}" rel="stylesheet" type="text/css">
    </head>

    <body>

        <!-- Begin page -->
        <div id="wrapper">

            <!-- Top Bar Start -->
            <div class="topbar">

                <!-- LOGO -->
                <div class="topbar-left">
                    <a href="index.html" class="logo">
                        <span>
                            <img src="{% static 'assets/images/logo-light.png'%}" alt="" height="18">
                        </span>
                        <i>
                            <img src="{% static 'assets/images/logo-sm.png'%}" alt="" height="22">
                        </i>
                    </a>
                </div>

                <nav class="navbar-custom">

                    <ul class="navbar-right d-flex list-inline float-right mb-0">
                        <li class="dropdown notification-list">
                            <a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                <i class="ti-bell noti-icon"></i>
                                <span class="badge badge-pill badge-danger noti-icon-badge">3</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg">
                                <!-- item-->
                                <h6 class="dropdown-item-text">
                                    Notifications (258)
                                </h6>
                                <div class="slimscroll notification-item-list">
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item active">
                                        <div class="notify-icon bg-success"><i class="mdi mdi-cart-outline"></i></div>
                                        <p class="notify-details">Your order is placed<span class="text-muted">Dummy text of the printing and typesetting industry.</span></p>
                                    </a>
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <div class="notify-icon bg-warning"><i class="mdi mdi-message"></i></div>
                                        <p class="notify-details">New Message received<span class="text-muted">You have 87 unread messages</span></p>
                                    </a>
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <div class="notify-icon bg-info"><i class="mdi mdi-martini"></i></div>
                                        <p class="notify-details">Your item is shipped<span class="text-muted">It is a long established fact that a reader will</span></p>
                                    </a>
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <div class="notify-icon bg-primary"><i class="mdi mdi-cart-outline"></i></div>
                                        <p class="notify-details">Your order is placed<span class="text-muted">Dummy text of the printing and typesetting industry.</span></p>
                                    </a>
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <div class="notify-icon bg-danger"><i class="mdi mdi-message"></i></div>
                                        <p class="notify-details">New Message received<span class="text-muted">You have 87 unread messages</span></p>
                                    </a>
                                </div>
                                <!-- All-->
                                <a href="javascript:void(0);" class="dropdown-item text-center text-primary">
                                    View all <i class="fi-arrow-right"></i>
                                </a>
                            </div>        
                        </li>
                        <li class="dropdown notification-list">
                            <div class="dropdown notification-list nav-pro-img">
                                <a class="dropdown-toggle nav-link arrow-none waves-effect nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                    <img src="{% static 'assets/images/users/user-4.jpg'%}" alt="user" class="rounded-circle">
                                </a>
                                <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                                    <!-- item-->
                                    <a class="dropdown-item" href="#"><i class="mdi mdi-account-circle m-r-5"></i> Profile</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item text-danger" href="#"><i class="mdi mdi-power text-danger"></i> Logout</a>
                                </div>                                                                    
                            </div>
                        </li>

                    </ul>

                    <ul class="list-inline menu-left mb-0">
                        <li class="float-left">
                            <button class="button-menu-mobile open-left waves-effect">
                                <i class="mdi mdi-menu"></i>
                            </button>
                        </li>
                        <li class="d-none d-sm-block">
                            <div class="dropdown pt-3 d-inline-block">
                                <a class="btn btn-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Action
                                </a>
                                
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#">Open Rooms</a>
                                    <a class="dropdown-item" href="#">Close Rooms</a>
                                    <a class="dropdown-item" href="#">Print Invoice</a>
                                </div>
                            </div>
                        </li>
                    </ul>

                </nav>

            </div>
            <!-- Top Bar End -->

            <!-- ========== Left Sidebar Start ========== -->
            <div class="left side-menu">
                <div class="slimscroll-menu" id="remove-scroll">

                    <!--- Sidemenu -->
                    <div id="sidebar-menu">
                        <!-- Left Menu Start -->
                        <ul class="metismenu" id="side-menu">
                            {% for Mlist in bardata %}                           
                                {% if Mlist.child_list_flag == False %}
                                <li>
                                    <a href="{{Mlist.app_name}}/{{Mlist.slug}}" class="waves-effect">
                                        <i class="{{Mlist.icon}}"></i>
                                        <span class="badge badge-primary badge-pill float-right">2</span> 
                                        <span> {{Mlist.title}} </span>
                                    </a>
                                </li>
                                {% else %}
                                <li>
                                    <a href="javascript:void(0);" class="waves-effect">
                                        <i class="{{Mlist.icon}}"></i>
                                        <span> {{Mlist.title}} 
                                            <span class="float-right menu-arrow">
                                                <i class="mdi mdi-chevron-right"></i>
                                            </span> 
                                        </span>
                                    </a>
                                    <ul class="submenu">
                                    {% for chlist in childbardata %}
                                        {% if chlist.parent_id == Mlist.id %}
                                                <li>
                                                    <a href="{% url 'accounts:navpage' app=chlist.app_name slug=chlist.slug %}">
                                                        <i class="{{chlist.icon}}"></i>
                                                        <span> {{chlist.title}} </span>
                                                    </a>
                                                </li>
                                        {% endif %}      
                                    {% endfor %}
                                    </ul>
                                </li>
                                {% endif %}
                            {% endfor %}
                        </ul>

                    </div>
                    <!-- Sidebar -->
                    <div class="clearfix"></div>

                </div>
                <!-- Sidebar -left -->

            </div>
            <!-- Left Sidebar End -->

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="content-page">
                
                <div class="content">
                    {% block content1 %}
                    {% endblock %}
                    {% block content2 %}
                    {% endblock %}
                    {% block content3 %}
                    {% endblock %}
                    {% block content4 %}
                    {% endblock %}
                    {% block content5 %}
                    {% endblock %}
                </div>

                <footer class="footer">
                    <p>© 2022 - 2023 IT Lovers with <i class="mdi mdi-heart text-primary"></i> Omar Hesham</p>
                </footer>    
            </div>

            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->
        </div>




            <!-- jQuery  -->
            <script src="{% static 'assets/js/jquery.min.js'%}"></script>
            <script src="{% static 'assets/js/bootstrap.bundle.min.js'%}"></script>
            <script src="{% static 'assets/js/metisMenu.min.js'%}"></script>
            <script src="{% static 'assets/js/jquery.slimscroll.js'%}"></script>
            <script src="{% static 'assets/js/waves.min.js'%}"></script>
    
            <script src="{% static 'plugins/jquery-sparkline/jquery.sparkline.min.js'%}"></script>
    
            {% block js %}
            {% endblock %}
            <!-- App js -->
            <script src="{% static 'assets/js/app.js'%}"></script>
    
    </body>
    
    </html>